*{
    box-sizing: border-box;
}

.flex-container{

    flex-direction: row;
    padding: 10;
    border-spacing: 10px;
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}


@media (max-width: 300px) {
    .flex-container {
      flex-direction: column;
    }
  }

.item1, .item2, .item3{
    padding: 200px;
    height: 100px;
    margin: 30px;
    background-color: lightgrey;
    padding-left: 90px;
    background-image:url("/tema_optionala_2/pic1.png");

}


.item2{
   
    background-image: url("/tema_optionala_2/pic2.png");
    
}


.item3 {

    background-image: url("/tema_optionala_2/pic3.png");
}
div span{

    margin-top:350px;
    margin-left: 50px;
    font-size: 25px;
    display: inline-block;
    white-space: nowrap;
    text-align: center;

}
.checked{

    margin-top: 10px;
    margin-left: 70px;
    color:orange
}

#rating, counter{

    margin-top:10px;
    font-size: 15px;
    padding: 5px;
    margin-left: 15px;
    color: black;

}
.fa-heart{
    font-size:15px;
    color:red;
    margin-left: 25px;
}

.content span{

    margin-top: 40px;
    font-size: 18px;
    align-items: center;

    
}
.icons{
 
    height:90px;
    margin-bottom: 90px;
    
}
.title{

    margin-bottom: 10px;
    padding-top: 30px;
    height: 410px;
    padding-bottom: 50px;


}

button{

    background-color: lightcoral;
    margin: 10px;
    padding: 10px;
}
#first{

    background-color: black; /* Green */
    border: none;
    color: white;
    padding: 10px 30px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 15px;
}

#second{
    background-color: white;
    border:2px solid black;
    color:black;
    padding: 8px 30px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 15px;
}