h1 {
  color: lightslategrey;
  text-align: center;
}

h2 {
  color: black;
}

span {
  color: lightskyblue;
}

button {
  padding: 20px;
  margin: 10px;
  color: lightslategrey;
  font-weight: bold;
  border-radius: 20px;
}
