p {
  font-size: 20px;
  margin-left: 20px;
}

.input_3,
.input_1,
.input_2 {
  padding: 10px;
  width: 40%;
  margin-top: 10px;
  margin-left: 20px;
  box-sizing: border-box;
  border-radius: 4px;
  color: black;
  background-color: lightgray;
  font-size: 16px;
}

button {
  margin: 30px;
  padding: 20px;
  width: 100px;
  border-color: #008cba;
  margin-left: 40px;
  text-align: center;
  border-radius: 4px;
  display: inline-block;
  font-size: 16px;
  background-color: lightblue;
}
